*{
	font-family: 'poppins',sans-serif;
	margin: 0;
	padding: 0;
}
.fsc{
	background-color: rgba(13, 29, 177, 0.8077);

}
section.fscreen{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center; 
	flex-direction: column;
	color: #fff;
}
section.fscreen h1{
	font-size: 40px;
	font-weight: 500;
}
.logo{
	font-weight: 100;
}